
    .posisionDiv {
        position: absolute;
        top:   6px !important; 
        left: 400px;
    }

    .card{
        border: 1.5px solid;
        border-color: #021d24;
    }

    .card-header{
        color: #fff;
        background-color: #021d24;
        border-color: #021d24;
    }
    .bg-primary {
        color: #fff;
        background-color: #021d24;
    }

    .bg-info {
        background-color: #d9edf7 !important;
    }

    .text-info {
        color: #0B0B0C !important;
        font-size: 12px !important;
    }

    .info_cabecera{
        color: #ffffff;
        font-size: 16px;
        background-color: #021d24 !important;
    }

    #tableA { 
        
        margin-left: 120px;
    }

    .help_img{
        width:  16px;
        height: 16px;
    }

    .help_pdf{
        width:  23px;
        height: 23px;
    }
    
    .error2{
        padding-top: 6px;
        padding-left: 6px;
        font-weight: bold;
        border-radius: 4px;
        color: #FFF;
        position: absolute;
        background-color: #F00;
        padding-right: 6px;
    }
    .error2:before{
        border-top-width: 8px;
        border-right-width: 8px;
        border-bottom-width: 8px;
        border-left-width: 8px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-color: #F00;
        left: -16px;
        top: 5px;
        position: absolute;
    }