
    .modal-lg{
        width: 120% !important;
    }
    
    .pull-right {
        float: right !important;
    }
    

    .border-right{
        margin-right: 4.7%;
    }

    .btn {
        font-family: calibri;
        font-size: 13.5px;
    }
    
    #comentario_historico{
        border-radius: 5px;
        height: 260px !important;
        overflow-y: auto;
        overflow-x: auto;
        font-family: calibri !important;
        font-size: 13 !important;
        font-weight: normal !important;
    }

    #comentario_text {
        border-radius: 5px;
    }
